@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d4d6e4;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #595959;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono), Arial, Helvetica, sans-serif;
  padding-bottom: 300px;

  &.command-key-pressed {
    .poppable {
      cursor: crosshair;

      &:hover {
        @apply bg-red-600;
        transform: scale(1.1);
        animation: shake 0.65s infinite;
      }
    }
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0) rotate(0deg);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-1px) rotate(-1deg);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(1px) rotate(1deg);
  }
}

.react-grid-placeholder {
  background: transparent !important;
  border: 1px dashed var(--foreground) !important;
  border-radius: 1.5rem !important;
}

.react-resizable-handle {
  background-image: none !important;
  transition: opacity 0.1s ease-out !important;
  opacity: 0;

  &::after {
    width: 15px !important;
    height: 15px !important;
    border-bottom-right-radius: 2.25rem;
    border-right-width: 3px !important;
    border-bottom-width: 3px !important;
    top: 10px;
    left: 10px;
  }
}

.react-grid-item:hover .react-resizable-handle {
  opacity: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
